[keyboard]
name = "Lapka 36"
product_name = "Lapka 36"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "braindefender"
board = "nice!nano_v2"

[ble]
enabled = true

[split]
connection = "ble"

# Dongle
[split.central]
rows = 0
cols = 0
row_offset = 0
col_offset = 0

[split.central.matrix]
matrix_type = "direct_pin"
direct_pins = []

# Left
[[split.peripheral]]
rows = 4
cols = 5
row_offset = 0
col_offset = 0

[split.peripheral.matrix]
matrix_type = "direct_pin"
direct_pins = [
    [
        "P0_06", # Q
        "P0_10", # W
        "P1_13", # E
        "P0_02", # R
        "P0_31", # T
    ],
    [
        "P0_17", # A
        "P0_09", # S
        "P1_11", # D
        "P1_15", # F
        "P0_29", # G
    ],
    [
        "P0_08", # Z
        "P0_20", # X
        "P1_06", # C
        "P0_22", # V
        "P1_00", # B
    ],
    [
        "_",
        "_",
        "P1_04", # Caps
        "P0_11", # Space
        "P0_24", # NAV
    ],
]

# Right
[[split.peripheral]]
rows = 4
cols = 5
row_offset = 0
col_offset = 5

[split.peripheral.matrix]
matrix_type = "direct_pin"
direct_pins = [
    [
        "P0_17", # P
        "P0_22", # O
        "P1_00", # I
        "P1_04", # U
        "P0_06", # Y
    ],
    [
        "P0_20", # ~
        "P0_24", # L
        "P0_11", # K
        "P1_06", # J
        "P0_31", # H
    ],
    [
        "P1_13", # ]
        "P0_02", # [
        "P0_09", # &
        "P0_29", # M
        "P0_08", # N
    ],
    [
        "P1_15", # AltGr
        "P1_11", # Shift
        "P0_10", # SYM
        "_",
        "_",
    ],
]

[rmk]
split_peripherals_num = 2

[behavior.tri_layer]
upper = 3
lower = 4
adjust = 5

[layout]
rows = 4
cols = 10
layers = 6
matrix_map = """
(0,0,L) (0,1,L) (0,2,L) (0,3,L) (0,4,L)    (0,5,R) (0,6,R) (0,7,R) (0,8,R) (0,9,R)
(1,0,L) (1,1,L) (1,2,L) (1,3,L) (1,4,L)    (1,5,R) (1,6,R) (1,7,R) (1,8,R) (1,9,R)
(2,0,L) (2,1,L) (2,2,L) (2,3,L) (2,4,L)    (2,5,R) (2,6,R) (2,7,R) (2,8,R) (2,9,R)
                (3,2,L) (3,3,L) (3,4,L)    (3,5,R) (3,6,R) (3,7,R)
"""

[aliases]
# Universal Layout mapping
SQuot     = "Grave"
DQuot     = "WM(Grave, LShift)"
Grave     = "WM(Grave, RAlt)"
Pipe      = "WM(Backslash, LShift)"
Backslash = "WM(Backslash, RAlt)"
Nbsp      = "WM(Space, RAlt)"
Comma     = "LeftBracket"
Semicolon = "WM(LeftBracket, LShift)"
Dot       = "RightBracket"
Colon     = "WM(RightBracket, LShift)"
Minus     = "Minus"
Under     = "WM(Minus, LShift)"
Equal     = "Equal"
Plus      = "WM(Equal, LShift)"
Slash     = "Backslash"
LBracket  = "Dot"
LBrace    = "WM(Dot, LShift)"
RBracket  = "Slash"
RBrace    = "WM(Slash, LShift)"
Ampersand = "Comma"
Tilde     = "Semicolon"
# One-shot Modifiers mapping
OSM_G     = "OSM(LGui)"
OSM_A     = "OSM(LAlt)"
OSM_C     = "OSM(LCtrl)"
OSM_S     = "OSM(LShift)"
# Window Management mapping
PrevSpace = "WM(Left,  LCtrl | LGui)"
NextSpace = "WM(Right, LCtrl | LGui)"
# Bluetooth profiles mapping
BT_1      = "User0"
BT_2      = "User1"
BT_3      = "User2"
BT_Next   = "User3"
BT_Prev   = "User4"
BT_Clear  = "User5"
BT_Toggle = "User6" # Toggle between USB and BLE


[[layer]] # 0
name = "base_layer"
keys = """
Q          W          E          R          T          Y          U          I          O          P
A          S          D          F          G          H          J          K          L          @Tilde
Z          X          C          V          B          N          M          @Ampersand @LBracket  @RBracket
                      CapsLock   Space      MO(3)      MO(4)      LShift     RAlt
"""

[[layer]] # 1
name = "gam_layer"
keys = """
Tab        Q          W          E          R          No         No         Up         No         Tab
LShift     A          S          D          F          No         Left       Down       Right      RShift
LCtrl      Z          X          C          V          No         No         No         No         RCtrl
                      LAlt       Space      MO(2)      TG(1)      Space      No
"""

[[layer]] # 2
name = "gfn_layer"
keys = """
Kc5        Kc1        Kc2        Kc3        Kc4        @BT_Toggle @BT_1      @BT_2      @BT_3      @BT_Clear
Kc0        Kc6        Kc7        Kc8        Kc9        No         No         No         No         No
G          J          I          M          T          NumLock    No         No         No         No
                      Escape     Enter      ___        ___        ___        No
"""

[[layer]] # 3
name = "nav_layer"
keys = """
__         __         __         __         Escape     Escape     Home       End        Backspace  Delete
@OSM_G     @OSM_A     @OSM_C     @OSM_S     Enter      Enter      Left       Down       Up         Right
@PrevSpace @NextSpace TG(1)      pscr       Tab        Tab        PageUp     PageDown   Quote      NumLock
                      ___        ___        ___        ___        ___        ___
"""

[[layer]] # 4
name = "sym_layer"
keys = """
Kc1        Kc2        Kc3        Kc4        Kc5        Kc6        Kc7        Kc8        Kc9        Kc0
@Tilde     @Grave     LCtrl      LShift     @Minus     @Plus      @OSM_G     @OSM_A     @OSM_C     @OSM_S
@Backslash No         @Semicolon @Comma     @Under     @Equal     @Dot       @Colon     @Pipe      @Slash
                      ___        ___        ___        ___        ___        ___
"""

[[layer]] # 5
name = "num_layer"
keys = """
Kp1        Kp2        Kp3        Kp4        Kp5        Kp6        Kp7        Kp8        Kp9        Kp0
@OSM_G     @OSM_A     @OSM_C     @OSM_S     F11        F12        @OSM_G     @OSM_A     @OSM_C     @OSM_S
F1         F2         F3         F4         F5         F6         F7         F8         F9         F10
                      ___        ___        ___        ___        ___        ___
"""
