[tasks.install-llvm-tools]
install_crate = { rustup_component_name = "llvm-tools" }

[tasks.flip-link]
install_crate = { crate_name = "flip-link", binary = "flip-link", test_arg = ["-h"] }

[tasks.build]
command = "cargo"
args = ["build", "--release"]
dependencies = ["install-llvm-tools", "flip-link"]

[tasks.objcopy-dongle]
install_crate = { crate_name = "cargo-binutils", binary = "cargo", test_arg = [
    "objcopy",
    "--help",
] }
command = "cargo"
args = [
    "objcopy",
    "--release",
    "--bin",
    "dongle",
    "--",
    "-O",
    "ihex",
    "build/lapka-dongle.hex",
]
dependencies = ["build"]

[tasks.objcopy-left]
install_crate = { crate_name = "cargo-binutils", binary = "cargo", test_arg = [
    "objcopy",
    "--help",
] }
command = "cargo"
args = [
    "objcopy",
    "--release",
    "--bin",
    "left",
    "--",
    "-O",
    "ihex",
    "build/lapka-left.hex",
]
dependencies = ["build"]

[tasks.objcopy-right]
install_crate = { crate_name = "cargo-binutils", binary = "cargo", test_arg = [
    "objcopy",
    "--help",
] }
command = "cargo"
args = [
    "objcopy",
    "--release",
    "--bin",
    "right",
    "--",
    "-O",
    "ihex",
    "build/lapka-right.hex",
]
dependencies = ["build"]

[tasks.uf2-dongle]
install_crate = { crate_name = "cargo-hex-to-uf2", binary = "cargo", test_arg = [
    "hex-to-uf2",
    "--help",
] }
command = "cargo"
args = [
    "hex-to-uf2",
    "--input-path",
    "build/lapka-dongle.hex",
    "--output-path",
    "build/lapka-dongle.uf2",
    "--family",
    "nrf52840",
]
dependencies = ["objcopy-dongle"]

[tasks.uf2-left]
install_crate = { crate_name = "cargo-hex-to-uf2", binary = "cargo", test_arg = [
    "hex-to-uf2",
    "--help",
] }
command = "cargo"
args = [
    "hex-to-uf2",
    "--input-path",
    "build/lapka-left.hex",
    "--output-path",
    "build/lapka-left.uf2",
    "--family",
    "nrf52840",
]
dependencies = ["objcopy-left"]

[tasks.uf2-right]
install_crate = { crate_name = "cargo-hex-to-uf2", binary = "cargo", test_arg = [
    "hex-to-uf2",
    "--help",
] }
command = "cargo"
args = [
    "hex-to-uf2",
    "--input-path",
    "build/lapka-right.hex",
    "--output-path",
    "build/lapka-right.uf2",
    "--family",
    "nrf52840",
]
dependencies = ["objcopy-right"]

[tasks.uf2-cleanup]
command = "rm"
args = ["build/lapka-dongle.hex", "build/lapka-left.hex", "build/lapka-right.hex"]

[tasks.uf2]
dependencies = ["uf2-dongle", "uf2-left", "uf2-right", "uf2-cleanup"]
